{% extends "base/videoCenter_frame.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}{{ video_id }} 切片的完成信息 {% endblock %}
{% block content %}
    <div class="row">
        <div class="form-inline">
            <div class="col-lg-9">
                <h4>{{ video_id }} 切片的完成信息</h4>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-bordered table-hover" style="text-align: center;">
        <thead>
        <tr class="success">
            <th>学科</th>
            <th>章节</th>
            <th>篇章</th>
            <th>视频名称</th>
            <th>切片状态</th>
            <th>切片时间</th>
            <th>在线播放</th>
            <th>加密链接地址</th>
            <th>缩略图</th>
            <th>时长</th>
            <th>分辨率</th>
            <th>所属切片任务</th>
        </tr>
        </thead>
        {% for video in videos %}
            <tbody style="text-align: center;">
            <tr>
                <td>{{ video.app_type }}</td>
                <td>{{ video.parent_id }}</td>
                <td>{{ video.chapter_id }}</td>
                <td>{{ video.section_id }}</td>
                <td>{{ video.chinese_name }}</td>
                <td class="cut_status">
                    {% ifequal video.cut_status 1 %}
                        <a type="button" class="btn btn-info">已就绪</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 2 %}
                        <a type="button" class="btn btn-success"
                           disabled="disabled">请耐心等候...正在切片...</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 3 %}
                        <a type="button" class="btn btn-info"
                           href="/video/toPrepare?id={{ video.id }}" style="color: #3c763d;">已完成切片,点击上传到预上线</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 4 %}
                        <a type="button" class="btn btn-info"
                           href="/video/center/cutDetail?id={{ video.id }}" style="color:#a1abff;">已到预上线</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 5 %}
                        <a type="button" class="btn btn-info"
                           href="/video/center/cutDetail?id={{ video.id }}">已上线</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 7 %}
                        <a href="http://101.201.31.40:5555/task/{{ video.cut_id }}" style="color: red;">切片失败,点击查看失败原因,请联系服务器管理员</a>
                    {% endifequal %}
                </td>
                <td>
                    {% ifnotequal video.cut_id 0 %}
                        <a href="http://101.201.31.40:5555/task/{{ video.cut_id }}">{{ video.cut_id }}</a>
                    {% endifnotequal %}
                    {% ifequal video.cut_id 0 %}
                        {{ video.cut_id }}
                    {% endifequal %}
                </td>
                <td>{{ video.original_sava_path }}</td>
                <td><a type="button" class="btn bg-danger" onclick="DelMp4ToCut({{ video.id }},{{ video.cut_status }})">从任务中移除该mp4</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <hr/>

{% endblock %}