{% extends "base/videoCenter_frame.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}{{ video_id }} 切片的完成信息 {% endblock %}
{% block content %}
    <script>
        layer.open({
          type: 1,
          title: false,
          closeBtn: 0,
          area: '516px',
          skin: 'layui-layer-nobg', //没有背景色
          shadeClose: true,
          content: $('#img')
});
    </script>
    <div class="row">
        <div class="form-inline">
            <div class="col-lg-9">
                <h4>{{ video_id }} 切片的完成信息</h4>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-bordered table-hover" style="text-align: center;">
        <thead>
        <tr class="success">
            <th>学科</th>
            <th>父级章节</th>
            <th>章节</th>
            <th>篇章</th>
            <th>视频名称</th>
            <th>切片状态</th>
            <th>切片时间</th>
            <th>在线播放</th>
            <th>加密链接地址</th>
            <th>缩略图</th>
            <th>时长</th>
            <th>分辨率</th>
        </tr>
        </thead>
        {% for video in videos.list %}
            <tbody style="text-align: center;">
            <tr>
                <td>{{ video.apptype }}</td>
                <td>{{ video.parent_id }}</td>
                <td>{{ video.chapter_id }}</td>
                <td>{{ video.section_id }}</td>
                <td>{{ video.chinese_name }}</td>
                <td>{{ video.status }}</td>
                <td>{{ video.cut_time }}</td>
                <td><a href="{{ video.m3u8_serverPath }}">点击下载使用播放器测试</a></td>
                <td><a href="{{ video.aes_m3u8_serverPath }}">点击下载加密文件</a></td>
                <td id="img"><a class="layui-btn layui-btn-primary layer-demolist" href="javascript:;">点击查看</a><img src="{{ video.thumb_url }}" height="50px" width="50px"></td>
                <td>{{ video.duration }}</td>
                <td>{{ video.resolution }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <hr/>

{% endblock %}