{% extends "base/videoCenter_frame.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}{{ video_id }} 切片的完成信息 {% endblock %}
{% block content %}
    <script>
        function toprepare(recoder_id){
             $.post("/video/toPrepare", {
                            "recoder_id": recoder_id
                        }, function (res) {
                            var res = JSON.parse(res);
                            if (res['code'] == '200') {
                                console.log(res);
{#                                window.location.href = "{{ request.get_full_path }}"#}
                            } else {
                                alert(res['mess']);
                            }
                        })
        }
    </script>
    <div class="row">
        <div class="form-inline">
            <div class="col-lg-9">
                <h4>{{ video_id }} 切片的完成信息</h4>
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-bordered table-hover" style="text-align: center;">
        <thead>
        <tr class="success">
            <th>学科</th>
            <th>父级章节</th>
            <th>章节</th>
            <th>篇章</th>
            <th>视频名称</th>
            <th>切片状态</th>
            <th>切片时间</th>
            <th>在线播放</th>
            <th>加密链接地址</th>
            <th>缩略图</th>
            <th>时长</th>
            <th>分辨率</th>
            <th>切片总大小</th>
        </tr>
        </thead>
        {% for video in videos.list %}
            <tbody style="text-align: center;">
            <tr>
                <td>{{ video.apptype }}</td>
                <td>{{ video.parent_id.name }}</td>
                <td>{{ video.chapter_id.name }}</td>
                <td>{{ video.section_id.name }}</td>
                <td>{{ video.chinese_name }}</td>
                <td>
                    {% ifequal video.status 0  %}
                        {% if video.parent_id.id > 1995  %}
                            <a class="btn btn-next" disabled="disabled">真题视频暂不支持上线</a>
                        {% endif %}

                        {% if video.parent_id.id > 1995 %}
                            <a class="btn btn-danger" onclick="toprepare({{ video.id }})">点击上到预上线环境</a>
                        {% endif %}
                    {% endifequal %}
                    {% ifequal video.status 1  %}
                        已上到预上线环境
                    {% endifequal %}
                </td>
                <td>{{ video.cut_time }}</td>
                <td><a href="{{ video.m3u8_serverPath }}">点击下载使用播放器测试</a></td>
                <td><a href="{{ video.aes_m3u8_serverPath }}">点击下载加密文件</a></td>
                <td id="img"><a href="{{ video.thumb_url }}" target="_blank"><img src="{{ video.thumb_url }}" height="50px" width="50px"></a></td>
                <td>{{ video.duration }}</td>
                <td>{{ video.resolution }}</td>
                <td>{{ video.file_size }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <hr/>

{% endblock %}