{% extends "base/base.html" %}
{% block title %}接口每日数据列表分析{% endblock %}
{% block content %}
    <style>
        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }

        caption {
            text-align: center;
            vertical-align: middle;
        }
    </style>

    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
    </script>

    <script>
        var getformvalue = function getfromvalue() {
            var year = $("#id_date_year").val();
            var month = $("#id_date_month").val();
            if (month.length == 1) {
                month = "0" + month;
            }
            var day = $("#id_date_day").val();
            if (day.length == 1) {
                day = "0" + day;
            }
            var d = year + "_" + month + "_" + day;
            var top = $("#id_top").val();
            var res = {'d': d, 'top': top};
            return res;
        }

    </script>

    <script>
        $(document).ready(function () {
            var getformvalue = function getfromvalue() {
                var year = $("#id_date_year").val();
                var month = $("#id_date_month").val();
                if (month.length == 1) {
                    month = "0" + month;
                }
                var day = $("#id_date_day").val();
                if (day.length == 1) {
                    day = "0" + day;
                }
                var d = year + "_" + month + "_" + day;
                var top = $("#id_top").val();
                var res = {'d': d, 'top': top};
                return res;
            };
        });
    </script>

    <script>
        function catImage() {
            var data = getformvalue();
            // 清空原有的error信息
            $("#err").empty();
            $.get('{% url 'inters' %}', {'action': 'imge', 'data': data}, function (ret1) {
                d1 = JSON.parse(ret1);
                d_date = d1['date']
                {#                $('#imge').html(ret1));#} //ajax页面调试数据使用
                $('#imge').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: d_date.replace(/_/g, '.') + '访问前' + d1['top'] + '统计数据'
                    },
                    xAxis: {
                        categories: d1['server_url']  //server_url
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: '访问次数 (ip)'
                        }
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: '访问次数',
                        data: d1['server_count']  //server_conut数据
                    }]
                });
            });
        }
    </script>

    <script>
    	function createTable(div,data){
	    var $table=$('<table class="table table-hover table-striped table-bordered"></table>');
	    $("div").append($table);
	    var $caption=$('<caption style="text-align:center;">jquery生成bootstrap表格</caption>');
	    $table.append($caption);
	    var $thead=$('<thead></thead>');
	    var $trs=$('<tr></tr>');
	    var $th1=$('<th>姓名</th>');
	    var $th2=$('<th>年龄</th>');
	    $trs.append($th1);
	    $trs.append($th2);
	    $thead.append($trs);
	    $table.append($thead);
	    for(var i=0;i<11;i++){
		    var $tr=$('<tr class="tr_content"></tr>');
		    $table.append($tr);
		    var $td1=$('<td class="td_content1">张三'+i+'</td>');
		    $tr.append($td1);
		    var $td2=$('<td class="td_content2">2'+i+'</td>');
		    $tr.append($td2);
		    $tr.on("click",".td_content2",function(){
				    });
	    }
	    for(var i=0;i<data;i++){
		    create_tbody();
	    }
	    $thread=$('</table>');
    	    }
	
	function create_tbody(){
	}	
	
	function getCurInfo() {
	var data = getformvalue();
	// 清空原有的error信息
	$("#err").empty();
	$.get('{% url 'CurInfo' %}', {'data': data}, function (ret1) {
		$('#imge').html(ret1); //ajax页面调试数据使用
		//createTable("#imge",ret1);		
	});
	}
    </script>
    <script>
        function exportXls() {
            data = getformvalue();
            var form = $("<form>");
            form.attr('style', 'display:none');
            form.attr('target', '');
            form.attr('method', 'get'); //请求方式
            form.attr('action', '/export_cvs');//请求地址
            var input1 = $('<input>');//将你请求的数据模仿成一个input表单
            input1.attr('type', 'hidden');
            input1.attr('name', data);//该输入框的name
            input1.attr('value', JSON.stringify(data));//该输入框的值
            $('body').append(form);
            form.append(input1);
            form.submit();
            form.remove();
        }
    </script>
{#    <script>#}
{#    // 分页数据显示#}
{#    var getPageData = function getPageData(obj){#}
{#        var page = $(obj).attr('value');#}
{##}
{#        console.log(page);#}
{#    }#}
{#    </script>#}

    <div style='align:center'>
        <h2>每日接口数据信息</h2>
        <!-- 选择区域 -->
        <div style='border:1px solid green'>
            <form id='f1' name='f1' method='post' action='/inters_data' align='center'>{% csrf_token %}
                {{ form.date.label }} &nbsp;&nbsp; {{ form.date }}<br/>
                {{ form.top.label }} &nbsp;&nbsp; {{ form.top }} <br/>
                <button type="submit" class="btn btn-primary" style="padding-right:10px;margin-right:10px;">按日期查看历史接口信息
                </button>
                <a type='button' class="btn btn-primary" id='bt2' onclick='exportXls()' align='center'>导出历史接口信息xcel表格</a>
                <button type='button' class="btn btn-primary" id='bt3' onclick="catImage()" align='center'>图表显示历史接口信息</button>
                <button type='button' class="btn btn-primary" id='bt4' onclick="getCurInfo()" align='center'>查看接口实时统计信息</button>
            </form>
        </div>
        <!-- 图形区域 -->
        <div id='imge' style="text-align: center;">
            <h4 style='color:red;align:center' id='err'>{{ error_mess }}</h4>
            <!-- 数据表格分页显示区域-->
            {% if data %}
                <table class="table table-hover" >
                    <thead>
                    <tr>
                        <th>域名</th>
                        <th>访问统计量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ item.0 }}</td>
                            <td>{{ item.1 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            <!-- 如果当前是第一页，就不显示【上一页】链接 -->
                <span class="step-links">
                {% if data.has_previous %}
                    {% ifnotequal 1 data.number|add:-1  %}
                                <a type="button" class="btn btn-info" id='prePage'  href="/inters_data?action=pagination&page=1&data[d]={{ d_date }}&data[top]={{ top }}">首页</a>
                    {% endifnotequal %}
                    <a type="button" class="btn btn-info" id='prePage'   href="/inters_data?action=pagination&page={{data.number|add:-1}}&data[d]={{ d_date }}&data[top]={{ top }}">上一页</a>
                {% endif %}
                </span>

                <span class="current">
                    当前页： {{ data.number }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 总页数: {{ data.paginator.num_pages }}
                </span>

                {% if data.has_next %}
                             <a type="button" class="btn btn-info" id='prePage'  href="/inters_data?action=pagination&page={{data.number|add:1}}&data[d]={{ d_date }}&data[top]={{ top }}">下一页</a>
                             {% ifnotequal data.paginator.num_pages data.number|add:1  %}
                                <a type="button" class="btn btn-info" id='prePage'  href="/inters_data?action=pagination&page={{data.paginator.num_pages}}&data[d]={{ d_date }}&data[top]={{ top }}">尾页</a>
                             {% endifnotequal %}

                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
