{% extends "base/base.html" %}

{% block title %}注册页面{% endblock %}

{% block login %}
    <style type="text/css">
        .container {
            padding-right: 35px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .login {
            width: 15%;
            margin-left: 530px;
            margin-right: auto;
        }

        .btn {;
            padding-left: 1px;
            text-align: center;;
        }

        input {
            width:: 10%;
        }

    </style>
    <div class='login'>
        <form method="post" action="/register">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            {% if reg_error %}
                <div color='red'> {{ reg_error }} </div>
            {% endif %}
            <div class="btn">
                <button type="submit" class="btn btn-default" style="padding-right:50px;margin-right:34px;">注册</button>
                <a class="btn btn-default" href="/" role="button" style="padding-right:50px;">登录</a>
            </div>
        </form>
    </div>
{% endblock %}
