{% extends "base/videoCenter_frame.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}{{ task_name }} 的预切片MP4管理 {% endblock %}
{% block content %}
    <script>
        function start_task() {
            v = typeof({{ videos }});
            bootbox.confirm({
                message: "你已经确定要开始切片了吗？一旦开始切片给该任务后续不能再次添加新的MP4（但是你可以重新再创建任务切片）！确定吗？？",
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '我再检查下',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        checkStatus()
                        alert(v);
                        $.post("/video/start_task", {
                            "task_id": {{ task_id }},
                            "videos": {{ videos }}
                        }, function (res) {
                            var res = JSON.parse(res);
                            if (res['code'] == '200') {
                                alert("视频已经开始切片，请耐心等候，为您跳转到首页");
                                window.location.href = "/video/getMyAppMp4.html"
                            } else {
                                alert("参数错误,请将改错误联系给管理员");
                            }
                        })
                    } else {
                        return;
                    }
                }
            });
        }

        function checkStatus() {
            video_status = $(".cut_status").text();
            return;
        }

        function DelMp4ToCut(video_id) {
            bootbox.confirm({
                message: "确定要移除该视频",
                buttons: {
                    confirm: {
                        label: '确定',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: '算了,就这样吧！',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post("/video/DelteMp4ToCut", {
                            "video_id": video_id
                        }, function (res) {
                            var res = JSON.parse(res);
                            if (res['code'] == '200') {
                                window.location.href = "{{ request.get_full_path }}"
                            } else {
                                alert(res['mess']);
                            }
                        })
                    } else {
                        return;
                    }
                }
            })
        }
    </script>
    <div class="row">
        <div class="form-inline">
            <div class="col-lg-9">
                <h4>{{ task_name }} 的预切片MP4管理</h4>
            </div>
            <div class="col-lg-3">
                {% ifequal videos_nums 0 %}
                    <a type="button" class="btn btn-next" target="_blank" href="/video/getMyAppMp4.html"
                    "><h5>
                    该任务没有预切片,请先去mp4页面添加</h5></a>
                {% endifequal %}
                {% ifnotequal videos_nums 0 %}
                    <a type="button" class="btn btn-next" style="border:1px solid red;" onclick="start_task()"><h5>
                        我已确认所有任务开始切片</h5></a>
                {% endifnotequal %}
            </div>
        </div>
    </div>
    <hr/>
    <table class="table table-bordered table-hover" style="text-align: center;">
        <thead>
        {{ videos }}
        <tr class="success">
            <th>app类型</th>
            <th>章节类型</th>
            <th>章节名称</th>
            <th>章篇名称</th>
            <th>中文名称</th>
            <th>切片状态</th>
            <th>切片id</th>
            <th>服务器存储名称</th>
            <th>操作</th>
        </tr>
        </thead>
        {% for video in task_videos %}
            <tbody style="text-align: center;">
            <tr>
                <td>{{ video.app_type }}</td>
                <td>{{ video.parent_id }}</td>
                <td>{{ video.chapter_id }}</td>
                <td>{{ video.section_id }}</td>
                <td>{{ video.chinese_name }}</td>
                <td class="cut_status">
                    {% ifequal video.cut_status 1 %}
                        <a type="button" class="btn btn-info">已就绪</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 2 %}
                        <a type="button" class="btn btn-success"
                           disabled="disabled">请耐心等候...正在切片...</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 3 %}
                        <a type="button" class="btn btn-info"
                           href="/video/toPrepare?id={{ video.id }}" style="color: #3c763d;">已完成切片,点击上传到预上线</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 4 %}
                        <a type="button" class="btn btn-info"
                           href="/video/center/cutDetail?id={{ video.id }}" style="color:#a1abff;">已到预上线</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 5 %}
                        <a type="button" class="btn btn-info"
                           href="/video/center/cutDetail?id={{ video.id }}">已上线</a>
                    {% endifequal %}
                    {% ifequal video.cut_status 7 %}
                        <a href="http://101.201.31.40:5555/task/{{ video.cut_id }}" style="color: red;">切片失败,点击查看失败原因,请联系服务器管理员</a>
                    {% endifequal %}
                </td>
                <td>
                    {% ifnotequal video.cut_id 0 %}
                        <a href="http://101.201.31.40:5555/task/{{ video.cut_id }}">{{ video.cut_id }}</a>
                    {% endifnotequal %}
                    {% ifequal video.cut_id 0 %}
                        {{ video.cut_id }}
                    {% endifequal %}
                </td>
                <td>{{ video.original_sava_path }}</td>
                <td><a type="button" class="btn bg-danger" onclick="DelMp4ToCut({{ video.id }},{{ video.cut_status }})">从任务中移除该mp4</a>
                </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
    <hr/>
    <span class="step-links">
                {% if task_videos.has_previous %}
                    {% ifnotequal 1 task_videos.number|add:-1 %}
                        <a type="button" class="btn btn-info" id='prePage'
                           href="{{ request.get_full_path }}&page=1">首页</a>
                    {% endifnotequal %}
                    <a type="button" class="btn btn-info" id='prePage'
                       href="{{ request.get_full_path }}&page={{ task_videos.number|add:-1}}">上一页</a>
                {% endif %}
                </span>

    <span class="current">
                    当前页： {{ task_videos.number }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 总页数: {{ task_videos.paginator.num_pages }}
                </span>

    {% if task_videos.has_next %}
        <a type="button" class="btn btn-info" id='prePage'
           href="{{ request.get_full_path }}&page={{ task_videos.number|add:1}}">下一页</a>
        {% ifnotequal task_videos.paginator.num_pages task_videos.number|add:1 %}
            <a type="button" class="btn btn-info" id='prePage'
               href="{{ request.get_full_path }}&page={{ task_videos.paginator.num_pages }}">尾页</a>
        {% endifnotequal %}
    {% endif %}
    <div>
        <blockquote>
            <footer>注:因为mp4内容太多,该页面暂不支持MP4添加，请前往<a style="color: #985f0d;" href="/video/getMyAppMp4.html"
                                                   target="_blank">我的视频</a>上传页面添加
            </footer>
        </blockquote>
    </div>
{% endblock %}