{% extends "base/videoCenter_frame.html" %}
{% load staticfiles %}
{% load static %}
{% block title %}hi {{ user.username }} 的视频切片页面 {% endblock %}
{% block content %}
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem:'#cutList',
                height:315,
                url:"cutCenterList",
                method:"POST",
                request:{'page':2,'limit':30},
                where:{ "apptype":"{{ user1.apptype }}"},
                cols:  [[ //标题栏
                        {checkbox: true}
                        ,{field: 'id', title: 'ID', width: 80}
                        ,{field: 'username', title: '用户名', width: 120}
                      ]]
            });
        });
    </script>
    <table  id="cutList">
    <table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>昵称</th>
      <th>加入时间</th>
      <th>签名</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>贤心</td>
      <td>2016-11-29</td>
      <td>人生就像是一场修行</td>
    </tr>
    <tr>
      <td>许闲心</td>
      <td>2016-11-28</td>
      <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
    </tr>
  </tbody>
</table>
    </table>

{% endblock %}